

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Arial;
}

header {
    padding: 20px;
    display: flow-root;

    img {
        width: 100px;
        float: left;
    }

    /* 헤더라는 부모가 있고 그 안에 이미지에만 적용할거야.
    클래스 없이 작성가능 */

    nav {
        float: right;
        line-height: 42px;
    }

    li {
        display: inline-block;
        padding: 20px;
        color: white;
    }
    /* 인라인 블럭은 높이 설정이 가능 */

    a {
        color: white;
        font-size: 18px;
        text-decoration: none;
        
    }

    a:hover{
        text-decoration: underline;
    }
}

figure {

    video {
        height: 450px;
        margin: 0 auto 50px auto;
        display: block;
        /*비디오는 블럭이 아니라서 설정 줘야해 */
    }

    h1 {
        color: white;
        font-size: 150px;
        text-align: center;
        font-family: 'Franklin Gothic Medium';
    }
}

section {
    text-align: center;
    padding: 50px 0;
    font-family: jua;
    color: white;

    h2{
        font-size: 40px;
        padding: 25px;
        margin-bottom: 50px;
    }

    .product{
        width: 25%;
        height: 400px;
        margin-bottom: 200px;
        float: left;

        img{
            width: 90%;
        }

        p{
            margin: 10px 0;
            font-size: 20px;
        }
    }
}

footer{
    bottom: 0;
    padding: 10px 0;
    color: white;
    background-color: #303030;
    text-align: center;
    position: fixed;
    width: 100%;
    opacity: 0.9;
}

